
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
*.log

# Database
*.db

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
